__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
.env

inputs/*
!inputs/.gitkeep
outputs/*
!outputs/.gitkeep

*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png
*.json

Models/weights/*.pt
Models/weights/*.pth
*.onnx
*.engine
*.trt

.streamlit/secrets.toml


.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp